.headerDiv {
  font-family: Poppins;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #023047;
  padding: 10px;
  /* margin-left: 108px; */
  /* margin-top: 165px; */
  width: 100%;
height: auto;
  background-color:#fdfbf1;
  display: flex; 
  align-content: center;
}

.quizButton {
  font-family: Poppins;
  border-radius: 15px;
  border: none;
  background-color: #023047;
  padding: 14px, 27px, 14px, 27px;
  color: white;
  width: 241px;
  height: 67px;
  top: 660px;
  /* left: 118px; */
  font-size: 24px;
}

img {
    width: 500px
}


h1 {
    font-size: 48px;
    font-weight: 700;
}

p {
    font-size: 40px;
    font-weight: 300;
}