.quiz-desires {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 3px solid var(--Dark-Blue, #023047);
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 40px;
  padding: 40px;
  font-family: Poppins;
  color: #023047;
}

.header {
  color: #023047;
  font-family: Poppins;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}

.paragraph {
  font-size: 16px;
  text-align: center;
}

.results-loading-image {
  width: 26%;
  height: auto;
  padding: 25px 0 0 0;
  margin-bottom: 0;
}

.back-button {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #023047;
  border-radius: 20px;
  border: 1px solid var(--Dark-Blue, #023047);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

@media only screen and (max-width: 600px) {
  .quiz-desires {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .paragraph {
    font-size: 16px;
    text-align: center; 
  }

  .header {
    font-size: 18px;
    margin: 20px 0;
    text-align: center; 
  }

  .results-loading-image {
    width: 90%;
    margin-top: 10px;
    max-width: 300px; 
  }

  .back-button {
    margin-bottom: 20px;
  }

}
  @media all and (max-width: 320px) {
    .results-loading-image {
      max-width: 150px; /* Further limit the max-width for smaller phones */
    }
  }


