.quiz-desires {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 3px solid var(--Dark-Blue, #023047);
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    margin: 50px;
    padding: 50px;
    position: relative;
    font-family: Poppins;
  }
  .main-content {
      display: flex;
      flex-direction: row;
    }
  
  .goals {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    color: #023047;
    font-family: Poppins;
  }
  
  .header {
    color: #023047;
    font-family: Poppins;
    font-size: 30px;
  }
  
  .answer-pillars {
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 20px;
    border-radius: 20px;
    font-family: Poppins;
  }
  
  .answer {
    display: flex;
    padding: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    width: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
  }
  
  
  .back-button {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #023047;
    border-radius: 20px;
    border: 1px solid var(--Dark-Blue, #023047);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 5em;
  }
  
  
  .picture {
    width: 150px;
    height: 140px;
    flex-shrink: 0;
    margin-right: 120px;
    margin-left: 120px;
    }

  
  
  label {
      font-size: 20px;
      font-family: Poppins;
      font-weight: 500;
      color:#023047
  }
  
  .bottom-div {
      margin-top: 70px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .step {
      display: flex;
      padding: 9px 23px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 20px;
      background: var(--Dark-Blue, #023047);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      color: #fff;
      font-family: Poppins;
      font-size: 19px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: 20px;
    }
  


  .error-message {
    color: red;
    margin-top: 20px;
    font-weight: 600;
  }