.quiz-desires {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 3px solid var(--Dark-Blue, #023047);
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 40px;
  padding: 50px;
  position: relative;
  font-family: Poppins;
  position: relative;
}
.main-content {
    display: flex;
    flex-direction: row;
  }

.goals {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  color: #023047;
  font-family: Poppins;
}

.header {
  color: #023047;
  font-family: Poppins;
}

.answer-pillars {
  display: flex;
  justify-content: center;
  align-items: center;
 gap: 20px;
  border-radius: 20px;
  font-family: Poppins;
  width: auto;
}

.answer {
  display: flex;
  padding: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #023047;
  color: white;
  width: auto;
  min-width: 190px;
  font-family: Poppins;
  font-size: 15px;
  margin-top: 5px;
}

.back-button {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #023047;
  border-radius: 20px;
  border: 1px solid var(--Dark-Blue, #023047);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 5em;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}


.addMore {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  border-radius: 25px;
  border: 1px solid var(--Dark-Blue, #023047);
  background: var(--Light-Blue, #8ecae6);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #023047;
  margin-top: 20px;
  cursor: pointer;
  max-width: 160px
}

.label-education {
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    color:#023047;
    margin-bottom: 8px;
    margin-top: 40px
}

.bottom-div {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


  .step {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: var(--Dark-Blue, #023047);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .right-side {
display: flex;
justify-content: center;
align-items: center;
  }
  

  .link {
    text-decoration: none;
  }
  

  .picture2 {
    width: 480px;
    height: 310px;
    flex-shrink: 0;
    position: absolute;
    top: 420px;
    right: 20px
    }

 @media only screen and (max-width: 600px) {
   .quiz-desires {
    margin: 20px; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
     }

    .main-content {
    margin: 0;
    padding: 0;
    position: static;
    display: flex;
    flex-direction: column;
 }


 .picture2 {
 width: 110%;
 height: auto;
order: -1;
position: static;
margin-top: 50px;
align-self: center;
 }

          .bottom-div {
            gap: 20px
          }
          
           .step {
            display: flex;
            padding: 8px 16px;
            border-radius: 20px;
            font-size: 16px;
          }

          .goals {
            display: flex;
            flex-direction: column;
          }
      
            .answer-pillars,
            .answer-pillars2 {
              flex-direction: column;
              width: auto;
              align-self: center;
              margin-bottom: 5px;
              gap: 20px
            }

            .header {
              font-size: 20px;
            }
          
            .answer {
              width: auto; 
              max-width: 100px; 
              margin-bottom: 2px; 
              padding: 8px 16px;
            }

            select {
              align-self: center;
            }

            .addMore {
              align-self: center;
              margin-bottom: 45px;
              padding: 5px 14px;
              font-size: 14px
            }

            .label-education {
              text-align: center;
align-self: center;
font-size: 15px;
}

}