.quiz-desires {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 3px solid var(--Dark-Blue, #023047);
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
  margin: 50px;
  padding: 50px;
  font-family: Poppins;
}

.main-content {
  display: flex;
  
}

.goals {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 500px;
  color: #023047;
  font-family: Poppins;
}

.header {
  text-decoration: none;
  color: #023047;
  font-family: Poppins;
}

.answer-pillars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  border-radius: 20px;
  font-family: Poppins;
}

.answer {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 100px;
  border-radius: 20px;
  color: white;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
}

.changeAnswer {
  display: flex;
  padding: 10px 20px;
  align-items: flex-start;
  text-align: center;
  gap: 100px;
  font-family: Poppins;
  font-size: 16px;;
  border-radius: 25px;
  border: 1px solid var(--Dark-Blue, #023047);
  background: var(--Light-Blue, #8ecae6);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #023047;
  margin-top: 20px;
  width: 100px
}

.back-button {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #023047;
  border-radius: 20px;
  border: 1px solid var(--Dark-Blue, #023047);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 5em;
}

.answer-pillars2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  box-sizing: border-box;
  width: 24%;
  font-family: Poppins;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 20px;
  margin-top: 20px;
  
}

.step {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: var(--Dark-Blue, #023047);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-family: Poppins;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.right-side {
  display: flex;
  flex-direction: column;
}

.countries,
.cities {
  display: flex;
  flex-direction: column;
}

.custom-input {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 25px;
  padding: 1px;
  box-sizing: border-box;
}

.text-unit {
  -webkit-appearance: none;
  -moz-appearance: none;

  text-overflow: "";
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 25px;
  outline: none;
  font-family: Poppins;
  font-size: 16px;
}

.bottom-div {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img {
    margin-top: 50px;
}


.left, .right {
    line-height: 3;
}

.job-title, .work-period {
 font-family: Poppins;
 font-size: 23px;
 font-weight: 500;
}

