.quiz-desires {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 3px solid var(--Dark-Blue, #023047);
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    margin: 30px;
    padding: 40px;
    font-family: Poppins;
  }
  .main-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between; 
      align-content: center;
    }
  

  .header {
    color: #023047;
    font-family: Poppins;
    font-size: 32px;
    margin: 0
  }

  .sign-up-paragraph {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 0
  }
  
  
  .back-button {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #023047;
    border-radius: 20px;
    border: 1px solid var(--Dark-Blue, #023047);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 1em;
  }
  
  .picture {
    width: 100%; 
    max-width: 340px;
    height: auto;
    flex-shrink: 0;
  }
  
  .content {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 70px;
  }
  
  
  .job-title {
  
      font-family: Poppins;
      font-weight: 500;
      color:#023047
  }

  
    .step {
      display: flex;
      padding: 10px 20px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 20px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: 20px;
    }

    .step {
      background: var(--Dark-Blue, #023047);
      color: #fff;
    }

    input {
      border-radius: 20px;
      border: 1px solid #023047;
      padding: 10px 20px;
      min-width: 260px;
    }

    .already-have {
      font-size: 18px;
      margin-top: 20px;
    }
  

    .job-title {
      font-size: 18px;
    }

    .error-message {
      color: red;
      margin-top: 20px;
      font-weight: 600;
    }


    
@media only screen and (max-width: 600px) {
  .quiz-desires {
    margin: 20px; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0;
    padding: 0;
    position: static;
    
      }


      .picture {
        width: 100%;
        height: auto;
    order: -1;
    position: static;
        margin-top: 40px;
       align-self: center;
      }

      .header {
        margin-bottom: 20px;
      }

      .sign-up-paragraph {
        margin-bottom: 20px;
      }

      .already-have {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
      }

      .content {
        margin: 40px 0 0 0;
      }
 
        .step {
          padding: 8px 16px;
          margin-top: 25px;
        }     

        .left {
          display: flex;
          flex-direction: column;
          align-items: center; 
          text-align: center; 
        }
}