.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdfbf1;
  color: #023047;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 400;
  padding: 51px 690px 44px 72px;
}

.logo {
  text-decoration: none;
  align-items: center;
  margin-right: 80px;
  font-family: Poppins;
  color: #023047;
}

.navbar span {
  margin-right: 56px;
  color: #023047;
  font-size: 20px;
    font-weight: 700;
    font-family: Poppins;
    color: #023047;
}

.navbar p {
  font-size: 16px;
    font-weight: 400;
    font-family: Poppins;
    color: #023047;
    padding: 0 40px;
}
