.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #fdfbf1;
  color: #023047;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 400;
  padding: 50px 0 9px 60px;
}

.logo {
  text-decoration: none;
  align-items: center;
  margin-right: 20px;
  font-family: Poppins;
  color: #023047;
}

.navbar span {
  margin-right: 56px;
  color: #023047;
  font-size: 20px;
  font-weight: 700;
  font-family: Poppins;
  color: #023047;
}

.navbar p {
  font-size: 16px;
  font-weight: 400;
  font-family: Poppins;
  color: #023047;
  padding: 0 30px;
}

.navbar-main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-icon {
  width: 40px;
  margin: 0;
  padding-right: 60px;
  align-self: center;
}

.logout-btn {
  font-family: Poppins;
  border-radius: 20px;
  border: none;
  background-color: #023047;
  color: white;
  font-weight: 500;
  width: auto;
  margin-left: 110px;
  padding: 5px 12px;
  font-size: 13px;
}

.hey {
  margin-left: 60px;
}


.buttons{
  display: flex;
  flex-direction: column;
  gap: 5px
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 20px;
  }

 .paragraph {
  display: none;
 }



  .logout-btn {
    width: 80px;
    margin-right: 20px; 
  }

  @media only screen and (max-width: 600px) {
    .navbar {
      flex-direction: row;
      padding: 5px;
    }
  
    .logo {
      margin: 0;
      padding-right: 10px;
    }
  
    .navbar p {
      display: none; 
    }
  
    .buttons {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-left: 0; 
    }

    .logout-btn {
      width: 120px;
      margin: 0;
      font-size: 11px;
      padding: 0;
      color: #023047;
      font-weight: 700;
      background-color: #8ecae6;
      text-align: center;
    }
    .navbar span {
      font-size: 16px;
      margin: 0;
  padding: 0;
    }
    


  .profile-icon {
    margin: 0;
    padding-right: 0;
    align-self: center;
  }
  }
}