.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fdfbf1;
  color: #023047;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 400;
  padding: 51px 690px 44px 72px;
}

.logo {
  text-decoration: none;
  align-items: center;
  margin-right: 80px;
  font-family: Poppins;
  color: #023047;
}

.navbar span {
  margin-right: 56px;
  color: #023047;
  font-size: 24px;
  font-weight: 700;
  font-family: Poppins;
  color: #023047;
}

.navbar p {
  font-size: 19px;
  font-weight: 400;
  font-family: Poppins;
  color: #023047;
}

img {
  width: 50px;
}
