.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #fdfbf1;
  color: #023047;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 400;
padding: 50px 0 9px 60px;
}

.logo {
  text-decoration: none;
  align-items: flex-end;
  font-family: Poppins;
  color: #023047;
}

.navbar span {

  color: #023047;
  font-size: 20px;
    font-weight: 700;
    font-family: Poppins;
    color: #023047;
    padding: 0
}

.navbar p {
  font-size: 15px;
    font-weight: 400;
    font-family: Poppins;
    color: #023047;
    padding: 0 30px;
}

.navbar-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0
}

.profile-icon {
  display: flex;
  align-content: center;
  justify-content: center;
  align-self: center;
width: 42px;
margin-top: 0;
margin-right: 40px;
}

.logout-btn {
    font-family: Poppins;
    border-radius: 20px;
    border: none;
    background-color: #023047;
    color: white;
    height: 38px;
    font-size: 18px;
    font-weight: bold;
    width: 100px;
    margin-right: 80px;
  }


  .hey {
    margin-left: 220px;
  }


  @media only screen and (max-width: 600px) {
    .navbar {
      padding: 20px;
    }

   .paragraph {
    display: none;
   }

  
    .profile-icon {
      width: 25px; 
      margin-right: 10px;

    }
  
    .logout-btn {
      width: 80px; 
      margin-right: 20px;
    }
  
  }
  