.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #fdfbf1;
  color: #023047;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 400;
  width: 90%;
  padding: 50px 0 9px 60px;
}

.logo {
  text-decoration: none;
  align-items: center;
  margin-right: 20px;
  font-family: Poppins;
  color: #023047;
}

.navbar span {
  margin-right: 56px;
  color: #023047;
  font-size: 20px;
  font-weight: 700;
  font-family: Poppins;
  color: #023047;
}

.navbar p {
  font-size: 16px;
  font-weight: 400;
  font-family: Poppins;
  color: #023047;
  padding: 0 30px;
}

.navbar-main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-icon {
  display: flex;
  align-content: center;
  justify-content: center;
  align-self: center;
  width: 40px;
  margin: 0;
  padding-left: 0;
}

.logout-btn {
  font-family: Poppins;
  border-radius: 20px;
  border: none;
  background-color: #023047;
  color: white;
  height: 38px;
  font-size: 18px;
  font-weight: bold;
  width: 100px;
  margin-left: 110px;
}

.hey {
  margin-left: 60px;
}
