.ReadyToShine {
    background-color: #fdfbf1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0 120px;
}

.ReadyToShineHeader {
    color: #023047;
    font-family: Poppins;
    font-size: 28px;
    margin-bottom: 0;
}

.quizButton {
    font-family: Poppins;
    border-radius: 20px;
    border: none;
    background-color: #023047;
    padding: 12px, 22px;
    color: white;
    width: 200px;
    height: 47px;
    font-size: 20px;
    margin: 10px 90px;
    font-weight: bold;
  }

  .star-img {
    width: 15%;
    padding: 0;
    margin: 0
  }

  .take-the-quiz {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
 
  }

  .link-to-quiz1 {
    align-self: center;
    margin: 0 25px;
  }

  .next-big-step {
    font-size: 20px;
    margin-top: 0;
  }

  @media only screen and (max-width: 600px) {
    .ReadyToShine {
      background-color: #fdfbf1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px 0 80px; /* Adjusted padding for mobile */
  }
  
  .ReadyToShineHeader {
      color: #023047;
      font-family: Poppins;
      font-size: 24px; /* Decreased font size for mobile */
      margin-bottom: 0;
  }
  
  .quizButton {
      font-family: Poppins;
      border-radius: 20px;
      border: none;
      background-color: #023047;
      padding: 12px 22px;
      color: white;
      width: 200px;
      height: 47px;
      font-size: 18px; 
      margin: 10px 0; 
      font-weight: bold;
  }
  
  .star-img {
      width: 20%;
      padding: 0;
      margin: 10px 0;
  }
  
  .take-the-quiz {
      display: flex;
      flex-direction: column; 
      align-items: center; 
  }
  
  .link-to-quiz1 {
      margin-top: 20px; 
  }
  
}