.WhatDoClientsSay {
  background-color: #fcbf49;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-family: Poppins;
  font-weight: 700;
  color: #023047;
  padding-top: 26px;
}

.what-pic {
  width: 5rem;
  margin-top: 0;
  padding: 15px
}

.boxes {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 38px;
  margin: 30px 100px 50px
}

.box {
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  line-height: 28px;
  color: #023047;
  align-content: center;
  text-align: center;
  box-sizing: border-box;
}

.what5 {
  font-size: 28px;
  font-weight: bold;
  padding: 0;
  margin-bottom: 3px;
}

.what-article {
  font-size: 18px;
  font-weight: 500;
  padding: 40px 25px 10px;
  text-align: left;
}

.what-whyChooseUs {
  font-family: Poppins;
  font-size: 20px;
  padding: 0;
  margin: 10px 0;
  font-weight: 300;
}

.short-intro {
  font-size: 16px;
  font-family: Poppins;
  font-weight: 300;
  text-align: left;
} 

.pic-div {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0 15px
}


@media only screen and (max-width: 600px) {
  .boxes {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
}